<% @card.line_items.each do |line_item| %>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag line_item.product.picture, size: "200x180" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= line_item.product.name%><br>
          <%= line_item.product.description%><br>
          <%= line_item.product.price%><br>
        quantity:&nbsp<%= line_item.quantity %>
        </div>
        <div class ="d-flex">
          &nbsp<%= link_to "add", line_item_add_path(:id => line_item),class:"btn btn-primary",data: {
           turbo_method: :post
           } %><br>
          &nbsp<%= link_to "reduce", line_item_reduce_path(:id => line_item),class:"btn btn-primary",data: {
           turbo_method: :post
           } %><br>
          &nbsp<%= link_to "Remove Item", line_item_path(line_item),class:"btn btn-primary", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
          }%><br> 
       </div>
      </div>
    </div>
  </div>
<%end%>
<div class = "hh">
<%= link_to "check-out", orders_path, data: {
            turbo_method: :post },class:'btn btn-success mb-3' %>
<h3>Sub total: ₹<%= (@card.sub_total) %></h3>
</div>
 
