<table>
  <tr>
    <th>picture </th>
    <th>name </th> 
    <th>price</th>
    <th>quantity</th>
    <th>item_total_price</th>
  </tr>

  <% @card.line_items.each do |line_item| %>
    <tr>  
      <td> <%= image_tag line_item.product.picture, size: "120x120" %>
      <td> <%= line_item.product.name %></td>
      <td> ₹<%= (line_item.product.price) %></td>
      <td> <%= line_item.quantity %></td>
      <td> ₹<%= (line_item.total_price) %></td>
      <td><%= link_to "reduce", line_item_reduce_path(:id => line_item),data: {
          turbo_method: :post
        }%></td>
      <td><%= link_to "Remove Item", line_item_path(line_item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                   } %></td>
      <td><%= link_to "Order now", orders_path(@order)%></td>                
    </tr>
  <% end %>
</table>
<div class = "hh">
<h3>Sub total: ₹<%= (@card.sub_total) %></h3>
</div>
 
