<table>
  <tr>
    <th>picture </th>
    <th>name </th> 
    <th>price</th>
    <th>quantity</th>
    <th>item_total_price</th>
  </tr>

  <% @cart.line_items.each do |line_item| %>
    <tr>  
      <td> <%= image_tag line_item.product.picture, size: "120x120" %>
      <td> <%= line_item.product.name %></td>
      <td> <%= number_to_currency(line_item.product.price) %></td>
      <td> <%= line_item.quantity %></td>
      <td> <%= number_to_currency(line_item.total_price) %></td>
      <td><%= link_to "Order new", new_order_path(@order) %></td>
    </tr>
  <% end %>
</table>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
<!-- See Order section below for explanation of new_order_path -->
<%# <%= link_to "Proceed to checkout", new_order_path %>
<%# <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}
</table> %> 