<%# <h1>product</h1> %>
<%# <div class ="container"> %>
<%# <%= render "search/productsearchs" %>
<%# <%= render "form", product: @product %>
<br>
 <%= link_to "Add product", new_product_path,class:"btn btn-primary" %>
<br>
<div id='row' class="row row-cols-1 row-cols- -4 m-4">
<%# <%binding.pry%> 
 <% @products.each do |product| %>
    <div class="card m-3">
     <%= image_tag product.picture, size: "200x180" if product.picture? %>
      <div class="card-body">
        <%= product.name%><br>
        <%= product.description%><br>
        Rs&nbsp<%=product.price%>
       <div class ="d-flex">
        <%# <%byebug%>  
         <%= link_to "show", product_path(product),class:"btn btn-info"%> 
         &nbsp<%= link_to "Add To Cart", line_items_path(:product_id => product.id),class:"btn btn-primary",data: { turbo_method: :post } %><br><br>
         <%# <%byebug%> 
       </div>  
      </div>
    </div>
  <%end%>
</div>


    